<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Schedule #<%= @schedule.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/schedules" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_schedule/<%= @schedule.id %>" class="btn btn-block btn-outline-secondary">
          Delete schedule
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Owner
      </dt>
      <dd>
        <%= @schedule.owner_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@schedule.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@schedule.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit schedule
    </h2>

    <form action="/modify_schedule/<%= @schedule.id %>"  method="post" >
      <div class="form-group">
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" class="form-control" value="<%= @schedule.owner_id %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update schedule
      </button>
    </form>
  </div>
</div>

<hr>
