<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <ul>
    <li>
      <a href="/users">
        Students
      </a>
    </li>
    <li>
      <a href="/schedules">
        Public Schedules
      </a>
    </li>
    <% if session[:user_id] == nil %>
      <li>
        <a href="/user_sign_in">
          Sign In
        </a>
      </li>
      <li>
        <a href="/user_sign_up">
          Sign Up
        </a>
      </li>
    <% end %>
    <% if session[:user_id] != nil %>
      <li>
        <a href="/courses">
          Courses
        </a>
      </li>
      <li>
        <a href="/users/<%= @current_user.username %>">
          My Page
        </a>
      </li>
      <li>
        <a href="/edit_user_profile">
          Edit Profile
        </a>
      </li>
      <li>
        <a href="/user_sign_out">
          Sign out
        </a>
      </li>
    <% end %>
  </ul>
    <%= yield %>
  </body>
</html>
